# --- Xcode ---
# User-specific files (window positions, open tabs, etc.)
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build artifacts
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# --- Swift Package Manager ---
.build/
.swiftpm/
# Uncomment the line below if you want to ignore dependency version locking
# Package.resolved

# --- CocoaPods (If you ever use them) ---
Pods/
Array.xcworkspace

# --- Misc ---
.DS_Store
*.swp
*.lock
